VITE_API_BASE=https://api.ideahubs.org
VITE_GITHUB_REPO_URL=https://github.com/TianbinLiu/ideahub-server
VITE_GITHUB_DOCS_URL=https://github.com/TianbinLiu/ideahub-server/blob/main/PROJECT_STRUCTURE.md
